<md-content>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>
        <span>Timer</span>
      </h2>
      <span flex></span>
      <md-datepicker ng-model="datePick" md-placeholder="Enter date" ng-change="setDate()" ></md-datepicker>
    </div>
  </md-toolbar>

  <md-toolbar class="md-primary md-hue-2 md-whiteframe-4dp">
    <div class="md-toolbar-tools">
    <md-button href="#/">Home</md-button> 
    <md-button href="#/clocking"class="md-raised md-accent md-hue-3">Clockings</md-button> 
    <md-button href="#/break">Breaks</md-button> 
    <span flex></span>
    <md-button class="md-raised md-accent md-hue-3">Date Selected: {{selectedDate | date: 'mediumDate'}}</md-button> 
    </div>
  </md-toolbar>

  <div layout="row" ng-repeat="block in times | chunkBy: 4">
  <md-card flex ng-repeat="(key, value) in block" ng-show="value.timeOut">
    <md-content-card>
      <center>
        <h2>{{ value.employeeName }}</h2>
        <p class="md-subhead">Time In At:<br> {{ value.inDate | date: 'medium' }}</p>
        <p class="md-subhead">Time Out At:<br> {{ value.outDate | date: 'medium' }}</p>
  
        <h2>Total Time</h2>
        <p class="md-subhead">Hours: {{ value.hours }} Minutes: {{ value.minutes }} Seconds: {{ value.seconds }}</p>
      </center>
    </md-content-card>
  </md-card>
  </div>
</md-content>

