<md-content>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>
        <span>Timer</span>
      </h2>
      <span flex></span>
      <md-datepicker ng-model="datePick" md-placeholder="Enter date" ng-change="setDate()" ></md-datepicker>
    </div>
  </md-toolbar>

  <md-toolbar class="md-primary md-hue-2 md-whiteframe-4dp">
    <div class="md-toolbar-tools">
    <md-button href="#/" class="md-raised md-accent md-hue-3">Home</md-button> 
    <md-button href="#/clocking">Clockings</md-button> 
    <md-button href="#/break">Breaks</md-button> 
    <span flex></span>
    <md-button class="md-raised md-accent md-hue-3">Date Selected: {{selectedDate | date: 'mediumDate'}}</md-button> 
    </div>
  </md-toolbar>
<md-card class="md-padding">
  <md-content-card>
  <md-input-container>
    <label>Employee</label>
    <md-select ng-model="employeeName">
      <md-option ng-repeat="employee in employees" value="{{employee.name}}">
        {{employee.name}}
      </md-option>
    </md-select>
  </md-input-container>
  <center>
  <md-button class="md-raised md-primary md-hue-2" ng-click="startTimer('TimeIn')">Time In</md-button>
  <md-button class="md-raised md-accent md-hue-2" ng-click="startTimer('Break')">Break</md-button>
  </center>
  </md-content-card>
</md-card>

<md-card ng-repeat="(key, value) in times">
  <md-content-card ng-hide="value.timeOut">
  <div layout="row" class="md-padding">
    <div flex>
    <center>
      <h2>{{ value.employeeName }} [{{ value.type }}]</h2>
      <p class="md-subhead">{{ value.type | uppercase }} In At:<br> {{ value.inDate | date: 'medium' }}</p>
    </center>
    </div>

    <div flex>
    <center>
    <h4><timer interval="1000" start-time="value.inDate">{{hours}} hour{{hoursS}}, {{minutes}} minute{{minutesS}}, {{seconds}} second{{secondsS}}.</timer></h4>
    <md-button class="md-raised md-accent md-hue-2" layout-align="center center" ng-click="stopTimer(value.$id)">Time Out</md-button>
    </center>
    </div>
  </div>
  </md-content-card>
</md-card>
</md-content>
